.specialty-detail-container {
    .specialty-detail-body {
        padding       : 0 200px;
        background    : #eee;
        display       : flex;
        flex-direction: column;

        .description-specialty {
            padding   : 10px;
            background: white !important;
            margin    : 15px 0;

            h1,
            h2,
            h3 {
                font-size  : 16px;
                font-weight: 600;
            }
        }

        .sort-sp-doctor {
            select {
                height       : 30px;
                padding      : 5px 8px;
                border       : none;
                outline      : none;
                border-radius: 3px;
            }

        }

        .each-doctor {
            display   : flex;
            width     : 100%;
            min-height: 300px;

            margin          : 15px 0;
            background-color: #fff;
            box-shadow      : 0 1px 6px #20212447;
            border-radius   : 8px;
            border-bottom   : none;
            margin-bottom   : 10px;

            .dt-content-left {
                width: 50%;

                .profile-doctor-container {
                    .down {
                        padding: 10px;
                    }
                }
            }

            .dt-content-right {
                width      : 50%;
                padding    : 5px;
                border-left: 1px solid #ddd;

                .doctor-schedule {
                    padding: 15px;
                }

                .doctor-extra-info {
                    padding-left: 0 !important;
                    border-top  : 1px solid #ddd;
                    margin-top  : 10px;
                    padding-top : 10px;
                }
            }

        }
    }
}